@font-face {
  font-weight: normal;
  font-family: 'Roboto';
  font-style: normal;
  src: url('fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('fonts/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-weight: bold;
  font-family: 'Roboto';
  font-style: normal;
  src: url('fonts/roboto-v20-latin-700.woff2') format('woff2'),
    url('fonts/roboto-v20-latin-700.woff') format('woff');
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  font-family: 'Roboto', Arial, sans-serif;
}

main {
  display: block;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.page {
  max-width: 1150px;
  padding: 0 25px;
  margin: 0 auto;
}

/*** Big block for important news and latest news ***/

.news-special {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .page-aside {
    max-width: 640px;
    margin: 0 auto;
  }
}

/*** Page aside ***/

@media (max-width: 768px) {
  .news-special {
    flex-direction: column;
    align-items: center;
  }
}

/*** Page header ***/

.page-header {
  margin-bottom: 40px;
}

.page-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  background: url('img/bg.jpg') no-repeat center top;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.page-header__logo-text {
  font-weight: normal;
  color: white;
  margin: 0;
  text-align: center;
}

.page-header__search {
  border: none;
  margin: 0;
  background-color: white;
  width: 250px;
  padding: 5px 10px;
}

@media (max-width: 650px) {
  .page-header__logo {
    flex-direction: column;
    justify-content: center;
  }

  .page-header__logo-text {
    margin-bottom: 25px;
  }
}

/*** Main navigation ***/

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-nav__item a {
  text-decoration: none;
  color: #7699a5;
  display: block;
  padding: 15px 15px;
  font-size: 16px;
}

.main-nav__item a:hover {
  color: white;
  background-color: #9bb7c2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.main-nav__btn {
  background-color: #9ab7bd;
  border: none;
  width: 70px;
  height: 50px;
  display: block;
  margin: 0 auto;
  position: relative;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  display: none;
}

.main-nav__btn:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav__btn:hover {
  background-color: slategray;
}

.main-nav__btn span {
  display: none;
}

@media (max-width: 850px) {
  .main-nav__item a {
    padding: 10px 5px;
  }
}

@media (max-width: 650px) {
  .main-nav__list {
    display: none;
  }

  .main-nav__btn {
    display: block;
  }
}

/*** Important news block ***/

.important-news {
  margin-right: 30px;
  width: 640px;
}

.important-news__header {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
}

.important-news__header a {
  color: grey;
  text-decoration: none;
}

.important-news__header a:hover {
  color: tomato;
}

.important-news__item {
  max-width: 640px;
  max-height: 400px;
  min-height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.important-news__figure {
  margin: 0;
}

.important-news__figure img {
  border-radius: 4px;
}

.important-news__wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.important-news__title {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
}

.important-news__title a {
  text-decoration: none;
  color: teal;
  opacity: 1;
}

.important-news__title a:hover {
  text-decoration: underline;
}

.important-news__description {
  color: #2f4f4f;
  margin: 0;
  margin-bottom: 14px;
}

.important-news__info {
  color: #2f4f4f;
  font-size: 13px;
}

.important-news__author-link {
  text-decoration: none;
  color: inherit;
}

.important-news__author-link:hover {
  text-decoration: underline;
  color: #7699a5;
}

@media (max-width: 1000px) {
  .important-news__description {
    display: none;
  }
}

@media (max-width: 768px) {
  .important-news {
    margin-right: 0;
    width: auto;
  }

  .important-news__description {
    display: block;
  }
}

@media (max-width: 445px) {
  .important-news__description {
    display: none;
  }

  .important-news__item {
    min-height: auto;
  }
}

/*** Latest News Block ***/

.latest-news {
  width: 480px;
}

.latest-news__header {
  font-weight: normal;
  color: grey;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

.latest-news__header a {
  color: grey;
  text-decoration: none;
}

.latest-news__header a:hover {
  color: tomato;
}

.latest-news__item {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.latest-news__item:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.latest-news__item-title {
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}

.latest-news__item-title a {
  color: #7699a5;
  text-decoration: none;
}

.latest-news__item-title a:hover {
  text-decoration: underline;
}

.latest-news__item-info {
  color: #2f4f4f;
  font-size: 13px;
}

.latest-news__author-link {
  text-decoration: none;
  color: inherit;
}

.latest-news__author-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .latest-news {
    width: auto;
    max-width: 640px;
  }

  .latest-news__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .latest-news__item {
    width: 47%;
  }
}

@media (max-width: 445px) {
  .latest-news__item {
    width: 100%;
  }
}

/*** Block for news categories ***/

.news-categories {
  display: flex;
  justify-content: space-between;
}

.news-category {
  width: 260px;
  margin-right: 25px;
}

.news-category:last-child {
  margin-right: 0px;
}

.news-category__header {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

.news-category__header a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #9bb7c2;
}

.news-category__header a:hover {
  color: white;
  background-color: #9bb7c2;
}

.news-category__item {
  margin-bottom: 40px;
}

.news-category__item-title {
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}

.news-category__item-title a {
  color: #2f4f4f;
  text-decoration: none;
}

.news-category__item-title a:hover {
  text-decoration: underline;
}

.news-category__item-info {
  color: #778899;
  font-size: 13px;
}

.news-category__author-link {
  text-decoration: none;
  color: inherit;
}

.news-category__author-link:hover {
  text-decoration: underline;
}

@media (max-width: 895px) {
  .news-categories {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .news-category:nth-child(even) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .news-categories {
    max-width: 640px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .news-category {
    width: 45%;
  }
}

@media (max-width: 445px) {
  .news-category {
    width: auto;
    margin-right: 25px;
  }
}

/*** Featured articles ***/

.featured-articles__header {
  font-weight: normal;
  color: grey;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

.featured-articles__header a {
  color: grey;
  text-decoration: none;
}

.featured-articles__header a:hover {
  color: tomato;
}

.featured-articles__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.featured-articles__item {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 50px;
}

.featured-articles__item:nth-child(even) {
  margin-right: 0;
}

.featured-articles__figure {
  margin: 0;
}

.featured-articles__figure a {
  opacity: 0.9;
}

.featured-articles__figure a:hover {
  opacity: 1;
}

.featured-articles__figure img {
  width: 160px;
  float: left;
  border-radius: 4px;
}

.featured-articles__wrapper {
  margin-left: 175px;
}

.featured-articles__title {
  margin: 0;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

.featured-articles__title a {
  color: #7699a5;
  text-decoration: none;
  font-weight: normal;
  display: block;
  padding: 8px 8px 10px 8px;
  line-height: 22px;
}

.featured-articles__title a:hover {
  color: white;
  background-color: #9bb7c2;
}

.featured-articles__brief {
  text-align: justify;
  margin: 0;
}

.featured-articles__comments-link {
  color: #7699a5;
  text-decoration: none;
  font-size: small;
}

.featured-articles__comments-link:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .featured-articles__figure img {
    margin-right: 10px;
    margin-bottom: 12px;
  }

  .featured-articles__wrapper {
    margin-left: 0px;
  }

  .featured-articles__title {
    margin-left: 175px;
  }

  .featured-articles__brief {
    clear: both;
  }
}

@media (max-width: 768px) {
  .featured-articles {
    max-width: 640px;
    margin: 0 auto;
  }

  .featured-articles__items {
    display: block;
  }

  .featured-articles__item {
    width: 100%;
    overflow: hidden;
  }

  .featured-articles__title {
    margin-left: 0;
  }

  .featured-articles__wrapper {
    margin-left: 175px;
  }

  .featured-articles__brief {
    clear: none;
  }
}

@media (max-width: 445px) {
  .featured-articles__figure img {
    margin-right: 10px;
    margin-bottom: 12px;
  }

  .featured-articles__wrapper {
    margin-left: 0px;
  }

  .featured-articles__title {
    margin-left: 175px;
  }

  .featured-articles__brief {
    clear: both;
  }
}

/*** Footer ***/

.page-footer {
  background-color: #31313b;
  color: #faf0e6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 20px;
  text-align: right;
}

.page-footer a {
  text-decoration: none;
  color: #6495ed;
}

.page-footer a:hover {
  text-decoration: underline;
}

.page-footer__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.page-footer__sources {
  margin: 0;
  text-align: left;
}

.page-footer address {
  font-style: normal;
}

.page-footer address a {
  white-space: nowrap;
}

@media (max-width: 650px) {
  .page-footer__info {
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .page-footer {
    text-align: center;
  }

  .page-footer__info {
    display: block;
  }

  .page-footer__sources {
    text-align: center;
    margin-bottom: 25px;
  }
}
