@font-face {
  font-weight: normal;
  font-family: 'Roboto';
  font-style: normal;
  src: url('fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('fonts/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-weight: bold;
  font-family: 'Roboto';
  font-style: normal;
  src: url('fonts/roboto-v20-latin-700.woff2') format('woff2'),
    url('fonts/roboto-v20-latin-700.woff') format('woff');
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  font-family: 'Roboto', Arial, sans-serif;
}

main {
  display: block;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.page {
  max-width: 1150px;
  padding: 0 25px;
  margin: 0 auto;
}

/*** Big blocks for special news and categories ***/

.news-special {
  display: flex;
  margin-bottom: 20px;
}

.news-categories {
  display: flex;
  justify-content: space-between;
}

/*** Page header ***/

.page-header {
  margin-bottom: 40px;
}

.page-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  background: url('img/bg.jpg') no-repeat center top;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.page-header__logo-text {
  font-weight: normal;
  color: white;
  margin: 0;
  text-align: center;
}

.page-header__search {
  border: none;
  margin: 0;
  background-color: white;
  width: 250px;
  padding: 5px 10px;
}

/*** Main navigation ***/

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-nav__item a {
  text-decoration: none;
  color: #7699a5;
  display: block;
  padding: 15px 15px;
  font-size: 16px;
}

.main-nav__item a:hover {
  color: white;
  background-color: #9bb7c2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*** Important news block ***/

.important-news {
  margin-right: 30px;
  width: 640px;
}

.important-news__header {
  font-weight: normal;
  color: grey;
  text-transform: uppercase;
  font-size: 14px;
}

.important-news__item {
  max-width: 640px;
  max-height: 400px;
  min-height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.important-news__item-figure {
  margin: 0;
}

.important-news__item-figure img {
  border-radius: 4px;
}

.important-news__item-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.important-news__item-title {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.important-news__item-title a {
  text-decoration: none;
  color: #800000;
  opacity: 1;
}

.important-news__item-title a:hover {
  text-decoration: underline;
  color: #7699a5;
}

.important-news__item-description {
  color: #2f4f4f;
}

.important-news__item-info {
  color: #2f4f4f;
  font-size: 13px;
}

.important-news__author-link {
  text-decoration: none;
  color: inherit;
}

.important-news__author-link:hover {
  text-decoration: underline;
  color: #7699a5;
}

/*** Latest News Block ***/

.latest-news {
  width: 480px;
}

.latest-news__header {
  font-weight: normal;
  color: grey;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

.latest-news__item {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.latest-news__item:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.latest-news__item-title {
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}

.latest-news__item-title a {
  color: #7699a5;
  text-decoration: none;
}

.latest-news__item-title a:hover {
  text-decoration: underline;
}

.latest-news__item-info {
  color: #2f4f4f;
  font-size: 13px;
}

.latest-news__author-link {
  text-decoration: none;
  color: inherit;
}

.latest-news__author-link:hover {
  text-decoration: underline;
}

/*** Block for news categories ***/

.news-category {
  width: 260px;
  margin-right: 25px;
}

.news-category:last-child {
  margin-right: 0px;
}

.news-category__header {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

.news-category__header a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #9bb7c2;
}

.news-category__header a:hover {
  color: white;
  background-color: #9bb7c2;
}

.news-category__item {
  margin-bottom: 40px;
}

.news-category__item-title {
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}

.news-category__item-title a {
  color: #2f4f4f;
  text-decoration: none;
}

.news-category__item-title a:hover {
  text-decoration: underline;
}

.news-category__item-info {
  color: #778899;
  font-size: 13px;
}

.news-category__author-link {
  text-decoration: none;
  color: inherit;
}

.news-category__author-link:hover {
  text-decoration: underline;
}

/*** Featured articles ***/

.featured-articles__header {
  font-weight: normal;
  color: grey;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

.featured-articles__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.featured-articles__item {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 50px;
}

.featured-articles__item:nth-child(even) {
  margin-right: 0;
}

.featured-articles__figure {
  margin: 0;
}

.featured-articles__figure a {
  opacity: 0.9;
}

.featured-articles__figure a:hover {
  opacity: 1;
}

.featured-articles__figure img {
  width: 160px;
  float: left;
  border-radius: 4px;
}

.featured-articles__wrapper {
  margin-left: 175px;
}

.featured-articles__title {
  margin: 0;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

.featured-articles__title a {
  color: #7699a5;
  text-decoration: none;
  font-weight: normal;
  display: block;
  padding: 8px 8px 10px 8px;
  line-height: 22px;
}

.featured-articles__title a:hover {
  color: white;
  background-color: #9bb7c2;
}

.featured-articles__brief {
  text-align: justify;
  margin: 0;
}

/*** Footer ***/

.page-footer {
  background-color: #31313b;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 20px;
  text-align: right;
}

.page-footer a {
  text-decoration: none;
  color: inherit;
}

.page-footer a:hover {
  text-decoration: underline;
}

.page-footer address {
  font-style: normal;
}

.page-footer__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.page-footer__sources {
  margin: 0;
  text-align: left;
}
